/* .bg{

  background-image: url(https://images.unsplash.com/photo-1562155955-1cb2d73488d7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
} */


html, body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Ensure they take full height */
}



.App {
  background-image: url(https://images.unsplash.com/photo-1556016069-0a64d35719db?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Full height of the viewport */
  display: flex; /* Center content horizontally and vertically */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements */
  justify-content: center; /* Center elements */
  color: white; /* Optional: change text color for better contrast */
}